@{

	var dashboard = ViewBag.Dashboard as Dashboard;
	ViewBag.Title = dashboard.Name;

	var graphs = ViewBag.Graphs as List<Graph>;

	var dashboardJson = Newtonsoft.Json.JsonConvert.SerializeObject(dashboard);


}

<div class="dashboard ">
	<div class="dashboard-header">

		<h2 class="dashboard-title">
			@dashboard.Name
			<button type="button" class="btn btn-info btn-sm green-bg pull-right" id="add-graph">+ Add graph</button>

		</h2>
	</div>

	<div class="graph-holder grid-stack">
		@foreach (var graph in graphs) {
			var graphJson = JsonConvert.SerializeObject(graph);
			var name = graph.Name.Split('.').FirstOrDefault().Replace("_", " ");

		<div class="graph grid-stack-item graph-@graph.GraphId" 
			 data-graph-id="@graph.GraphId" 
			 data-graph-name="@graph.Name" 
			 data-graph-resource-url="@graph.ResourceUrl"
			 data-gs-x="@graph.X" data-gs-y="@graph.Y" 
			 data-gs-width="@graph.Width" data-gs-height="@graph.Height"> 
			<div class="graph-inner grid-stack-item-content">
				<div class="graph-header">

					<a class="edit-graph"><i class="fa fa-cog"></i></a>
					<h2 class="graph-title">@name</h2>
				</div>

				<div class="graph-content ">
					<div class="graph-content-inner">
						@Html.Raw(graph.Html)
					</div>

					<div class="graph-error red-bg"></div>
				</div>

				<div class="graph-footer">
					<div class="status"></div>
				</div>
			</div>
		</div>

		}

	</div>


</div>

<script type="text/javascript">
	MUNG.ready(function(){
		var dashboard = $(".dashboard").mungDashboard(
			@Html.Raw( dashboardJson )
		);
	})
</script>