<!--
	Notification events are fired when a matching MungServerEvent is received
	on the server.  This event is accessible by referencing the "serverEvent"
	variable defined below.

	The MungServerEvent has the following schema:

	public class MungServerEvent {
		public DateTime LogTime;
		public JToken Data;
		public string Type;
		public string Source;
		public int AppId;
	}

	Where the "Data" property will provide you with access to the internal
	data associated with the event.

	For example, if you created an event with the following data:

	MungClient.Send("password_reset", new {
		User = new {
			Username = "john",
			FirstName = "John",
			Email = "john@johniejohnjohn.com"
		},
		PasswordResetToken = "shJwFOfIQjy6c3dkjf8id3"
	});


	You can reference the Event's data as shown throughout this
	example email, using the Razor View Engine Syntax.

	http://weblogs.asp.net/scottgu/introducing-razor


-->
@{
	var serverEvent = ViewBag.ServerEvent as MungServerEvent;

}

<mung-notification>
	<mung-event-type>password_reset</mung-event-type>
	<mung-to>@serverEvent.Data["User"]["Email"]</mung-to>
	<mung-cc></mung-cc>
	<mung-bcc></mung-bcc>
	<mung-subject>
		Password reset request for user: @serverEvent.Data["User"]["Username"]
	</mung-subject>

	<mung-body-html>
		<!-- The HTML you want to be rendered in email clients supporting HTML -->
		<h1>Hello @serverEvent.Data["User"]["FirstName"]</h1>
		<p>
			Someone (hopefully you!) requested a password reset link be sent to
			this email address.
		</p>
		<p>
			Please <a href="https://mung.io/account/reset-password?Token=@(serverEvent.Data["PasswordResetToken"])">
			click this link</a> to reset your password.
		</p>

		<p>This link will expire at @DateTime.Now.AddDays(7).ToString().</p>
	</mung-body-html>

	<mung-body-text>
<!-- The fallback plain text to be displayed when the email client only supports plain text -->
Hello @serverEvent.Data["User"]["FirstName"],

Someone (hopefully you!) requested a password reset link be sent to this email address.

Please click the following link to reset your password.

	https://mung.io/account/reset-password?Token=@(serverEvent.Data["PasswordResetToken"])

This link will expire at @DateTime.Now.AddDays(7).ToString().

Thanks!

	</mung-body-text>
</mung-notification>